p{
    text-align: center;
    color: white;
    margin-top: 10%;
    font-size: 2em;
}

.p{
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin-top: 0%;
}

.p1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 0%;
}


li{
    font-size: 1.2em;
    color:#660066;
}

.l{
    color:grey;
    font-size: 1em;
}

table{
    border-collapse:collapse;
    width: 100%;
}

.td{
    padding: 5%;
    text-align: right;
    border-bottom:1px solid #660066;
    color: grey;
    font-size: 1em;
}

.b{
    list-style-type: circle;
}

hr{
    border-top: 1px solid #660066;
    margin-top: 10%;
}

.body{
    background: linear-gradient(to top right, #66ccff 0%, #660066 100%);
}

.div1{
    background: linear-gradient(to top right, #66ccff 0%, #660066 100%);
    height: 50px;
    padding-top:10px;
}

.li{
    list-style-type: none;
    display : flex;
    justify-content: center;
    margin : auto;
}

::placeholder{
    color:white;
}

.button1{
    margin : auto;
    display : flex;
    justify-content: center;
    margin-top: 10%;
    color: purple;
    width: 80%;
    height: 6%;
    border-radius: 4px;   
    background-color : white;
    border-style: none;
}   


.a{
    margin-top: 10%;
    text-align : center;
    width: 80%;
    background-color : transparent;
    border-style: none;
    border-bottom: 0.2px solid white; 
    color: white;
}

.link{
    font-size: 0.8em;
    color: white;
}

a:link{
    color:#660066;
}

a:visited{
    color:#660066;
}