body {
	background: #eee;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
height: 100%;
width: 210px; 
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #3a354f;
overflow-x: hidden;
padding-top: 40px;
}

.sidenav a {
padding: 6px 16px 15px 16px;
text-decoration: none;
font-size:15px;
color: #eeeeee;
display: block;
}   

.sidenav h3{
font-size: 20px;
color:#eeeeee;
padding: 6px 15px 15px 16px;
}
.sidenav a:hover {
color: #f1f1f1;
background: #685e8f;
}

.main {
margin-left: 160px; /* Same as the width of the sidenav */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}


.form-group{
  width: 60%;
  margin-left: 300px;
}

#annbut{
  margin-top:10px;
  position: relative;
}

#m_choice{
  height:auto;
}

.table .thead-dark th{
  border-color: #eeeeee;
}


.readonly{
  background-color: #eee;
  color: rgb(84, 84, 84);
  border: 2rem black;
}

.table{
  width:60%;
  margin-left: 300px;
  margin-bottom:1rem;
  color:#212529;
}

.table td,.table th{
  padding:.75rem;
  vertical-align:top;
  border-top:1px solid #dee2e6}
    
.table thead th{
  vertical-align:bottom;
  border-bottom:2px solid #dee2e6}
      
      
.table tbody+tbody{
  border-top:2px solid #dee2e6}

#m_choice{
  width: 645px;
  display:none;
  overflow: scroll;
}

#mulselect{
  width:645px;
  height: auto;
}

ul{
  list-style-type:none;
}
ul li{
  display:none;
  margin-left:20px;
  margin-top: 8px;
}

#course li{
  display:block;
  margin-left: unset;
  padding: unset;
}

#checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  margin-right:8px;
}

#checkbox:active, #checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

#checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

#mulselect{
  display: none;
}
